<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>  
  </configSections>
  <connectionStrings>
    <add name="conn" connectionString="server=TTLVM076\SQL2k8R2_OCHA;database=untcdb;UID=untcsa;PWD=dc03tm21!;" providerName="System.Data.SqlClient" />
    <!--<add name="conn" connectionString="server=......" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <!--<add key="SourceFilePath" value="D:\Demo\UNTC_Dev\" />
    <add key="ApplicationName" value="XMLUtility" />
    <add key="RediretionURL" value="http://localhost:7003/Pages" />    
    <add key="MailFrom" value="mohini.kadasi@trigyn.com" />
    <add key="MailSubject" value="SVN process error" />
    <add key="MailTo" value="mohini.kadasi@trigyn.com, suvidha.musale@trigyn.com" />
    <add key="MailHost" value="ttlvmhybrid.trigyn.com" />-->

    <add key="SourceFilePath" value="......" />
    <add key="ApplicationName" value="......"/>
    <add key="RediretionURL" value="......"/>
    <add key="MailFrom" value="......" />
    <add key="MailSubject" value="......" />
    <add key="MailTo" value="......" />
    <add key="MailHost" value="......" />
    
  </appSettings>
  <system.web>
    <!--<httpCookies domain=".your.site"/>-->
    <!--<machineKey validationKey="your_key" decryptionKey="your_decryption_key" validation="SHA1" />-->
    <machineKey validationKey="7CB8DF6872FB6B35DECD3A8F55582350FEE1FAB9BE6B930216056C1B5BA69A4C5777B3125A42C4AECB4419D43EC12F168FD1BB887469798093C3CAA2427B2B89" decryptionKey="02FC52E4C71544868EE297826A613C53537DF8FDAF93FA2C64E9A5EF0BA467FB" validation="SHA1" decryption="AES" />
    <sessionState mode="StateServer" stateConnectionString="tcpip=localhost:42424" cookieless="false" timeout="120" />
    <compilation debug="true" targetFramework="4.0">     
    </compilation>
    <authentication mode="Windows" />
    <customErrors mode="Off" defaultRedirect="Pages/Error.aspx">
    </customErrors>
    <httpHandlers>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </httpHandlers>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />   
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
                <clear />
                <add value="default.aspx" />
      </files>
    </defaultDocument>
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />      
    </modules>
    <handlers>
      <add name="errorLog" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />      
    </handlers>
  </system.webServer>
  <elmah>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="conn" />
    <security allowRemoteAccess="yes" />
  </elmah>  
</configuration>